*{
    color: white;
}
.nav-header{
    background-color: black;
    display: grid;
    justify-content: space-between;
    align-items: center;
}

.part1{
    width:20%;
    /* display: flex; */
    align-self: center;
    justify-self: center;
border:1px solid white;
}
.part2{
    display: flex;
}